@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.selected {
  border: 2px solid #4b5563;
  background: #fff;
  color: #4b5563;
  box-shadow: #4b5563 1px 1px;
}

.error {
  color: #f00;
}
.error::before {
  content: '!';
  display: inline-block;
  padding: 2rem;
  font-style: bold;
  font-size: 2rem;
}
